<body>
    <h1>Min f;rste template</h1>
    <p>
        <form action="action_page.php">
            First name:
            <br>
            <input type="text" name="firstname" value="{{firstName}}">
            <br>Last name:
            <br>
            <input type="text" name="lastname" value="{{lastName}}">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
</body>
